body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  background-color: #0E121A;
  color: #f5f5f5;
}

p, h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
}

div {
  box-sizing: border-box;
}

a {
  color: #f5f5f5;
  text-decoration: none;
}